<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.healthyapp">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <receiver
            android:name=".appWidgetProvider"
            android:label="걷기 스테이터스">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_provider" />
        </receiver>

        <receiver
            android:name=".neverStopService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="neverDie" />
            </intent-filter>
        </receiver>

        <service
            android:name=".BackGround"
            android:enabled="true"
            android:exported="true" />

        <service
            android:enabled="true"
            android:exported="true"
            android:name=".appWidgetProvider$UpdateService"
            >
        </service>

        <activity android:name=".NoticeGoal" />
        <activity android:name=".AppSetting" />
        <activity android:name=".DetailScreen" />
        <activity android:name=".FirstSetting" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>